<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="" th:href="@{/style.css}">
    <title>Document</title>
</head>
<body>
<section>
    <div class="card w-50 m-auto mt-3">
        <h1 class="text-center mb-2">Add Employee</h1>

        <form th:action="@{/addEmpl}" method="post">
            <div class="mb-3 container">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>

            <div class="mb-3 container">
                <label for="exampleInputEmail1" class="form-label">Domain</label>
                <input name="domain" type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3 container">
                <label for="exampleInputEmail1" class="form-label">Project</label>
                <select name= "projectId" class="form-select" id="projectId" multiple aria-label="multiple select example" required>

                    <option th:each="project : ${projects}" th:text="${project.name}" th:value="${project.id}">One</option>

                </select>
            </div>



            <button type="submit" class="btn btn-success const mb-3 mt-2">Add</button>
        </form>

    </div>
    <div class="btnbutton">
        <a th:href="@{/homes}" type="button" class="btn btn-warning block m-auto mt-2" style="display: block; width: 10%">Back To Home</a>
    </div>
</section>

</body>
</html>